.checkout_detail_item {
  background-color: $primary;
}

.checkout_detail {
  background-color: $light;
  border-radius: 5px;
}

.cancel {
  color: $secondary;
  text-decoration: none;
}

.bg-pay {
  background-color: $light;
  border-radius: 5px;
}
