@import "~bootstrap/scss/bootstrap.scss";
@import "./_badge.scss";
@import "./_checkout.scss";

.card {
  width: 15em;
}

.navbar {
  background-color: $blue-200;
}

.footer {
  background-color: $blue-200;
}

.active {
  color: blue;
  font-weight: 700;
}
